<form [formGroup]="form" *ngIf="form">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    style="margin-top: 100px"
  >
    <!-- USERNAME -->
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="username" />
      <mat-spinner
        *ngIf="form.get('username').status === 'PENDING'"
        matSuffix
        [diameter]="18"
        style="float: right; margin-left: 8px"
      ></mat-spinner>

      <mat-error *ngIf="form.get('username').errors?.required"
        >Name is required
      </mat-error>
      <mat-error *ngIf="form.get('username').errors?.invalidUsernameAsync">
        Username already <strong>exists</strong>
      </mat-error>
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
      <mat-spinner
        *ngIf="form.get('email').status === 'PENDING'"
        matSuffix
        [diameter]="18"
        style="float: right; margin-left: 8px"
      ></mat-spinner>
      <mat-error *ngIf="form.get('email').errors?.required"
        >Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email').errors?.emailExists">
        Email already <strong>exists</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').errors?.invalidEmailFormat">
        Email has <strong>wrong format</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').errors?.emailExistsAsync">
        Email already <strong>exists</strong>
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        matInput
        formControlName="password"
      />
      <mat-icon
        matSuffix
        (click)="hidePassword = !hidePassword"
        [svgIcon]="hidePassword ? 'small-eye' : 'small-eye-off'"
      ></mat-icon>
      <mat-error *ngIf="form.get('password').errors?.required"
        >Password is required
      </mat-error>
      <!-- password minlength validation -->
      <mat-error *ngIf="form.get('password').errors?.minlength"
        >Password must be at least 8 characters
      </mat-error>
      <!-- password uppercase validation -->
      <mat-error *ngIf="form.get('password').errors?.passwordUppercase"
        >Password must have at least 2 uppercase letters
      </mat-error>
      <!-- password lowercase validation -->
      <mat-error *ngIf="form.get('password').errors?.passwordLowercase"
        >Password must have at least 2 lowercase letters
      </mat-error>
      <!-- password numbers validation -->
      <mat-error *ngIf="form.get('password').errors?.passwordNumbers"
        >Password must have at least 2 numbers
      </mat-error>
      <!-- password special characters validation -->
      <mat-error *ngIf="form.get('password').errors?.passwordSpecialCharacters"
        >Password must have at least 2 special characters
      </mat-error>
    </mat-form-field>

    <!-- CONFIRM PASSWORD -->
    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        [type]="hideConfirmPassword ? 'password' : 'text'"
        matInput
        formControlName="confirmPassword"
      />
      <mat-icon
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [svgIcon]="hideConfirmPassword ? 'small-eye' : 'small-eye-off'"
      ></mat-icon>
      <!-- <mat-icon matSuffix svgIcon="small-eye-off"></mat-icon> -->
      <!-- <mat-icon
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        >{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      > -->
      <mat-error *ngIf="form.get('confirmPassword').errors?.required"
        >Confirm Password is required
      </mat-error>
    </mat-form-field>
  </div>
</form>
